@{
    ViewData["Title"] = "Client Profile";
}

<body>
    <section class="mod-page">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row mod-logged">
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="Username" readonly>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="password" readonly>
                    </div>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header">
                                    <h4 class="card-title"> Race Records</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table tablesorter " id="">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>
                                                        Position
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Car
                                                    </th>
                                                    <th>
                                                        Circuit
                                                    </th>
                                                    <th>
                                                        Time
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Kimi Raikonen
                                                    </td>
                                                    <td>
                                                        Sepang
                                                    </td>
                                                    <td>
                                                        Mazda-7
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Kimi Raikonen
                                                    </td>
                                                    <td>
                                                        Sepang
                                                    </td>
                                                    <td>
                                                        Mazda-7
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Kimi Raikonen
                                                    </td>
                                                    <td>
                                                        Sepang
                                                    </td>
                                                    <td>
                                                        Mazda-7
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header">
                                    <h4 class="card-title">Booking request</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table tablesorter " id="">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>
                                                        Circuit
                                                    </th>
                                                    <th>
                                                        Car
                                                    </th>
                                                    <th>
                                                        Day Of Arrival
                                                    </th>
                                                    <th>
                                                        Time of Arrival
                                                    </th>
                                                    <th>
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Kimi Raikonen
                                                    </td>
                                                    <td>
                                                        Sepang
                                                    </td>
                                                    <td>
                                                        Mazda-7
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                    <td>
                                                        No(unacceptable time)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Kimi Raikonen
                                                    </td>
                                                    <td>
                                                        Sepang
                                                    </td>
                                                    <td>
                                                        Mazda-7
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                    <td>
                                                        Accepted
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Kimi Raikonen
                                                    </td>
                                                    <td>
                                                        Sepang
                                                    </td>
                                                    <td>
                                                        Mazda-7
                                                    </td>
                                                    <td>
                                                        07/06/2021
                                                    </td>
                                                    <td>
                                                        Pending
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>