@{
    ViewData["Title"] = "Login";
}
<body>
    <div class="fullbody">
        <div class="TransparentContainer">
            <div class="text">Login</div>
            <form>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter Username">

                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <small id="existingUser" class="form-text text-muted">
                    Don't have an account? <a href="/signup.html"> Create One</a>
                </small>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>



        </div>


    </div>

</body>